@model IEnumerable<SisJur.Models.TipoProcesso>

@{
    ViewData["Title"] = "TipoProcessos";
    Layout = "~/Views/Shared/_LayoutManter.cshtml";
}

<h1>Dados Gerados para Tipo Processos</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>

        </tr>
}
    </tbody>
</table>
